nav {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
}
  
a {
  color: white;
  text-decoration: none;
}

nav > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > div:hover {
  cursor: pointer;
}

nav > div > img {
  height: 64px;
  width: 64px;
}